// FONTS
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700;900&display=swap');
$lato-font: 'Lato', sans-serif;
$bebas-font: 'Bebas Neue', cursive;
$inter-font: 'Inter', sans-serif;
$berkshire-font: 'Berkshire Swash', cursive;
$popins-font: 'Poppins', sans-serif;
/*======Variable color start=======*/

$black:#000000;
$white:#ffffff;
$off-white: #f2f2f8;
$gray: #f1f1f1;
$border-gray: #dbdbdb;
$primary-black: #101010;
$bg-black: #161616;
$primary-color: #F1581B;
$secondary-color: #404040;

$light-blue: #385c8d;
$paragraph-color: #000000;

/*======Variable color end=======*/


