.site {
  &-header {
    background: $primary-black;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    // @include lg {
    //   background: transparent;
    //   position: absolute;
    // }
    // .container {
    //   @media (max-width: 991px) {
    //     max-width: none;
    //     padding: 0 32px;
    //   }
    //   @media (max-width: 575px) {
    //     padding: 0 12px;
    //   }
    // }
    &-inner {
      padding: 16px 0;
      position: relative;
      @include flexbox();
      @include align-items(center);
      @include justify-content(flex-end);
      @include lg {
        padding: 24px 0;
      }
    }
  }
}
.about-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  font-family: $popins-font;
  @include lg {
    font-size: 20px;
    line-height: 30px;
  }
  @include xl {
    font-size: 23px;
    line-height: 34px;
  }
}